.navbar-brand img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
body{
    background-color: #7d642c  !important;
    margin: 0;

}


.navbar-brand{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ad9254 !important;
}
.saladsLogo{
    color: #7d642c ;
}